.create_truck_form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 30%;
    input {
        background: none;
        border: none;
        border-bottom: 1px solid #000;
        font-size: 30px;
        outline: none;
        &::placeholder {
            color: #000;
        }
    }
    .create_truck_btn {
        display: block;
        padding: 5px 15px;
        background: none;
        border: 1px solid #fff;
        border-radius: 4px;
    }
}

.truck_types {
    margin: 20px auto 0;
    width: 70%;
    height: 200px;
    td {
        text-align: center;
        font-size: 20px;
    }
    th {
        text-align: center;
        font-size: 20px;
    }
}

.form_message {
    display: block;
    margin-top: 10px;
    color: green;
    text-align: center;
}

.form_error {
    display: block;
    margin-top: 10px;
    color: red;
    text-align: center;
}