.user_card {
    height: 300px;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 15px;
    font-size: 20px;
}
