.new_load_cards {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.new_load_card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 15px;
    font-size: 20px;
    p, div {
        width: 50%;
    }
    button {
        max-height: 50px;
        border: none;
        border-radius: 4px;
        outline: none;
        padding: 5px 20px;
        color: #fff;
        font-size: 16px;
    }
    .load_card_buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        span {
            display: block;
            width: 100%;
        }
    }
    .post_load {
        background-color: #42f563;
        color: #000;
    }
    .delete_load {
        background-color: #e83141;
    }
}

.dimension {
    margin-left: 20px;
}

.cards_message {
    display: block;
    font-size: 40px;
    text-align: center;
}

.card_error {
    display: block;
    width: 100%;
    margin-top: 10px;
    color: red;
    font-size: 14px;
}

.card_message {
    display: block;
    width: 100%;
    margin-top: 10px;
    color: green;
    font-size: 14px;
}
