.container {
    max-width: 1240px;
    margin: 0 auto;
}

.content {
    display: flex;
    margin-top: 20px;
    height: calc(100vh - 100px);
}

.aside_navbar {
    border-right: 3px solid #ad864e;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    a {
        font-size: 30px;
        text-decoration: none;
        color: #290404;
        transition: .3s all;
        &:hover {
            transform: scale(1.3);
        }
    }
}

.main {
    width: 100%;
    padding-left: 30px;
}

button {
    transition: .3s all;
    &:hover {
        transform: scale(1.1);
    }
}