.login_form {
    margin: 150px auto 0;
    padding: 30px;
    max-height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 1px solid black;
    border-radius: 8px;
    input {
        width: 200px;
        height: 20px;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        background: none;
        &::placeholder {
            color: #000;
        }
    }
    .form_button_group {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 25%;
        flex-wrap: wrap;
        button {
            display: block;
            background: none;
            border: 1px solid #fff;
            border-radius: 4px;
            padding: 5px 15px;
        }
    }
    .forgot_password {
        margin-top: 15px;
    }
    .auth_error {
        margin: -20px 0 -20px;
        color: red;
        font-size: 10px;
    }
    .sign_up_btn {
        margin-top: -15px;
    }
    .auth_message {
        margin: -20px 0 -20px;
        color: green;
        font-size: 10px;
    }
}