.active_load_card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    p, div {
        width: 30%;
    }
    .load_dimensions {
        display: flex;
        justify-content: space-between;
    }
}

.active_load_btn {
    padding: 5px 15px;
    background: none;
    outline: none;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 16px;
}

.active_load_message {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.active_load_error {
    display: block;
    width: 100%;
    color: red;
    font-size: 16px;
}