.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        height: 100px;
    }
    .logo_title {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    .header_title {
        font-size: 25px;
        line-height: 25px;
    }
    .header_btns {
        display: flex;
        gap: 15px;
        align-items:  center;
        button {
            display: block;
            background: none;
            border: 1px solid #fff;
            border-radius: 4px;
            padding: 5px 15px;
        }
    }
    .username {
        font-size: 20px;
        line-height: 20px;
    }

}