.create_load_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    input {
        width: 40%;
        background: none;
        border: none;
        border-bottom: 1px solid #000;
        font-size: 30px;
        outline: none;
        &::placeholder {
            color: #000;
        }
    }
}

.create_load_btn {
    display: block;
    margin: 20px auto 0;
    padding: 5px 15px;
    background: none;
    border: 1px solid #fff;
    border-radius: 4px;
}